.main-header{
  background-color: #f5f5f5;
  border-bottom: 1px solid #d2d2d2;
  width: 100%;
  height: 6rem;
  padding-top:20px;
  display: flex;
}

.nav-link{
  margin:15px;
}

.card-row{
  display:grid;
  grid-template-columns:repeat(4,2fr);
  grid-template-rows: repeat(4,2fr);
  grid-column-gap: 0px;
  grid-row-gap: 50px;
  margin-top:1rem;
  width:70%;
  padding-bottom:5%;
  margin-left:1.5rem;
  border:1px solid #000000;
}

.card{
  width:15rem;
  height:14rem;
  margin-top:2rem;
  text-align: center;
  border-radius: 25%;
  margin-left:0.5rem;
  
}
.card-header{
  font-size:3rem;
  font-weight:bold;
  margin-left:3rem;
  width:15rem;
  
}
.cardx-body{
  border:1px solid #000000;
  width:50rem;
}
.card-img{
  width:5rem;
  height:10rem;
 
}
.cardx-title{
  margin-top: 1.5rem;
}

.category-pic{
  width:5rem;
  height:5rem;
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
}

.bucket{
  width:20rem;
  border:1px solid #000000;
  margin-left:70rem;
  margin-top:-78rem;
}

.bucket-icon{
  margin-top: 12px;
  margin-left: 15px;
  
}

.bucket-text{
  margin-top:-28px;
  margin-left:50px;
  font-size: 16px;
  text-decoration-style: none;
  color: #ffffff;
}

.order-card-row{
  display:grid;
  grid-template-columns:repeat(4,2fr);
  grid-template-rows: repeat(content,2fr);
  grid-column-gap: 0px;
  grid-row-gap: 50px;
  margin-top:5%;
  width:70%;
  
}

.order-card{
  width:15rem;
  height:16rem;
  margin-left:1.5rem;
  margin-top:1%;
  text-align: center;
  border-radius: 20%;
}

.aboutus-header{
  margin-top: 2%;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.aboutus-body{
  text-align: center;
  margin-top: 2%;
  width:70%;
  margin-left:auto;
  margin-right: auto;
}

.contact-header{
  margin-top: 2%;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.contact-content{
  margin-top: 2%;
  text-align: center;
}

/* Popup style */
.popup-box {
  position: fixed;
  background: #999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.box {
  width: 30%;
  height:60%;
  margin: 0 auto;
  margin-top:8%;
  background: #fff;
  border-radius: 15%;
  padding: 25px;
  border: 1px solid #999;
  box-shadow: 0 0 10px 0 #999;
  
}

.close-icon {
  content: 'x';
  cursor: pointer;
  position: fixed;
  margin-left:20%;
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}

.popup-title{
  margin:auto;
  width:100%;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}
.popup-pic{
  margin: auto;
  margin-top: 5%;
  margin-left:5%;
  width:60%;
  height: 50%;
  border-radius: 10%;
}



a{
  text-decoration: none;
}
.modal-img{
  width:15rem;
  height:15rem;
  margin:auto;
}

.detay-button{
  margin-right:1rem;
  margin-top:1rem;
  width:5rem;
}
.sepete-ekle-button{
  margin-top:1rem;
  border-radius:25%;
}
